/*---------------*/
/*- MAIN TABS ---*/
/*---------------*/
.no_display{
    display: none;
}
h2.nav-tab-wrapper,
h3.nav-tab-wrapper{
    padding: 10px 10px 0px;
    margin: 10px 0px 0px;
    background: #f3f3f3;
    border-radius: 5px 5px 0px 0px;
}
h2 .nav-tab{
    background: #fff;
}


/*-------------------------------------------*/
/*- TABBED CONTENT HEADERS AND INTRO TEXT ---*/
/*-------------------------------------------*/
h3{
    font-size: 20px;
    margin: 25px 0px 10px;
}
h3 + p{
    margin: 0px 0px 20px;
    padding: 0px 0px 20px;
    border-bottom: 2px solid #ccc;
    color: #595959;
    font-size: 16px;
}

p .clear-settings{
    float: right;
    margin-left: 5px;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    padding: 6px 10px;
    border-radius: 3px;
    background-color: #ff8484;
}
p .preview{
    float: right;
    margin-left: 5px;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    padding: 6px 10px;
    border-radius: 3px;
    background-color: #999;
}
p .preview:hover,
p .clear-settings:hover{
    background: #333;
}
p input{
    float: right;
    margin-left: 5px;
    font-size: 12px;
    padding: 3px 10px;
}
p span{
    display: block;
    float: right;
}

/*------------------------------------------------*/
/*- FONT STYLING OF THE TABLES HOLDING CONTENT ---*/
/*------------------------------------------------*/
.form-table th{
    padding-left: 0px;
}
.form-table td select{
    width: 100%;
    max-width: 300px;
}
.form-table td input[type=text]{
    width: 100%;
    max-width: 300px;
    padding: 8px;
}
.form-table td input[type="checkbox"]{
    float: left;
}
.form-table td textarea{
    width: 100%;
    max-width: 450px;
    padding: 8px;
}
.form-table td #css{
    max-width: none;
    height: 450px;
    padding: 8px;
    font-family: "Consolas",Monaco,monospace;
    font-size: 12px;
}
.form-table td input + label,
.form-table td select + label,
.form-table td textarea + label{
    display: block;
    clear: both;
    margin: 4px 0px 0px 0px;
    color: #595959;
}
.form-table td input[type="checkbox"] + label{
    clear: none;
    display: inline-block;
    float: left;
    margin-top: 0px;
}

/*--------------------------------*/
/*- BACKGROUND OPTIONS STYLING ---*/
/*--------------------------------*/
.available-headers{
    max-width: 100%;
    padding: 0px;
}
.available-headers ul {
    top: 0px;
    left: 0px;
}
.available-headers ul li{
    float: left;
    display: block;
    width: 140px;
    height: auto;
    margin-right: 12px;
    padding: 4px;
    background: white;
    border: 1px solid #DFDFDF;
    border-radius: 3px;
}
.available-headers ul li img{
    display: block;
    max-width: 140px;
}
.available-headers ul li.active{
    background: #ccc;
    border: 1px solid #777;
}
.available-headers input[type=radio],
#no-background,
#no-logo{
    visibility: hidden;
}


/*--------------------------------*/
/*- DRAG N DROP LAYOUT BUTTONS ---*/
/*--------------------------------*/
h2.home-page-order{
    width: 340px;
    border-bottom: 2px solid #ccc;
    color: #595959;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 13px;
}
.home-page-order{
    width: 100%;
    list-style: none;
}
.home-page-order li{
    width: 350px;
    height: 30px;
    font-size: 15px;
    padding-top: 10px;
    background: #fff;
    border: 1px dashed #ccc;
    text-align: center;
    list-style: none;
    cursor: move;
}
.home-page-order li input[type='checkbox']{
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}

/*--------------------*/
/*- LAUNCHPAD FORM ---*/
/*--------------------*/
.wrap{
    overflow: hidden;
}
.lp-settings-section{
    float: left;
    width: 72%;
}
.promo-layers{
    float: right;
    width: 25%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    box-sizing: border-box;
}
.promo-layers h4{
    margin: 0 0 10px;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
}
.promo-layers p{
    margin: 0 0 10px;
    padding: 0;
    font-size: 14px;
    color: #777;
}
.go-to-layers{
    display: block;
    margin-top: 10px;
    border-radius: 3px;
    background: #009eec;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 6px 10px;
}
.go-to-layers:hover{
    background-color: #3D454E;
    color: #fff;
}
.promo-layers iframe{
    margin: 10px 0 20px;
    width: 100%;
}
